@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
}



body {
	height: 100vh;
}

header {
	text-align: right;
	position: sticky;
	z-index: 10;
	top: 10px;
}

main {
	height: 100vh;
	
}

footer {
	background-color: #658996;
}



a {
	color: #111719;
	border-radius: 5px;
}

#Socials_Section > a {
	width: 49%;
	display: inline-block;
}

header>a {
	font-weight: 800;
	font-size: 2vh;
	letter-spacing: 0.15em;
	opacity: 0.6;
	padding: 7px;
	margin: 2px;
	transition: ease .5s;
}

a:hover {
	opacity: 1;
	background-color: #658996;
	color: #d4dfe2;
}

h1 {
	font-size: 17vw;
	font-weight: 400;
	text-align: center;
	opacity: 0.5;
	color: #111719;
}

h2 {
	font-size: 8vw;
	margin-top: 20vh;
	font-weight: 400;
	text-align: center;
	opacity: 0.5;
}

h3 {
	font-size: calc(16px + 1vw);
	font-weight: 800;
	text-align: center;
	padding-bottom: 20px;
}

img {
	display: block;
}

#Socials_Section>a>img {
	width: 100%;
	height: auto;
}

p {
	font-weight: 800;
	text-align: left;
	line-height: 1.3;
}

footer>p {
	text-align: center;
}

#Socials_Section>a>p {
	width: 100%;
	height: 20vh;
	line-height: 20vh;
	background-color: #658996;
	border-radius: 10px;
	float:right;
	text-align: center;
	font-size: 7vh;
}



#about {
	display: block;
	width: 80%;
	height: 25vh;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5vh;
	margin-top: 0%;
	background-color: #658996;
}

#abouttext {
	width: calc(100%-200px);
}

#background {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
	left: 0px;
	right: 0px;
    z-index: -10;
}

#profile {
	height: 150px;
	width: auto;
	float: left;
	padding: 0% 5% 5% 5%;
}


#Socials_Section {
	margin-top: 25vh;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;	
}